<phpunit
	bootstrap="./vsc_phpunittest_environment.php"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	colors="true"
	stopOnIncomplete="true"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	stopOnSkipped="false">
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">./unit</directory>
		</testsuite>
		<testsuite name="functions">
			<directory suffix="Test.php">./unit/functions_inc</directory>
		</testsuite>
		<testsuite name="infrastructure">
			<directory suffix="Test.php">./unit/infrastructure</directory>
		</testsuite>
		<testsuite name="domain">
			<directory suffix="Test.php">./unit/domain</directory>
		</testsuite>
		<testsuite name="application">
			<directory suffix="Test.php">./unit/application</directory>
		</testsuite>
		<testsuite name="presentation">
			<directory suffix="Test.php">./unit/presentation</directory>
		</testsuite>
		<testsuite name="sitemaps">
			<directory suffix="Test.php">./unit/application/sitemaps</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../src</directory>
			<exclude>
				<directory suffix=".php">../src/templates</directory>
				<directory suffix="Interface.php">../src</directory>
				<directory suffix="map.php">../src</directory>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<server name="SCRIPT_NAME" value="test.php"/>
		<env name="SCRIPT_NAME" value="test.php"/>
	</php>
</phpunit>
